  {% load static %}
  
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <ul class="nav col-md-4 justify-content-start">
        <li><p>Grace</p></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/grace-lawrence2000/"><i class="fa-brands fa-linkedin"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/glaw2000"><i class="fa-brands fa-github"></i></a></li>
    </ul>

    <img class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto" src="{% static 'images/Gonk.png' %}" alt="Christmas Gonk holding a gift">

    <ul class="nav col-md-4 justify-content-end">
        <li><p>Ricky</p></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/therickyroy/"><i class="fa-brands fa-linkedin"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/TheRickyroy"><i class="fa-brands fa-github"></i></a></li>
    </ul>
  </footer>