{% load static %}

 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img class="footer-logo" src="{% static 'images/Gonk.png' %}" alt="Christmas Gonk holding a gift"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <li class="nav-item">
              {% if user.id is not None %}
              <a href="{% url 'wishes' pk=user.id %}" role="button" class="btn button2" aria-label="Select Nice">Wish List</a>
              {% else %}
              <p class="nav-text">Sign up to send Santa your wishlist!</p>
              {% endif %}
              </li>
          </li>
        </ul>
        <div class="navbar-text">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="btn {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_logout' %}">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_login' %}">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="btn {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_signup' %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>