:root {
    --color-main: hsl(201,100%, 14%);
    --color-text: hsl(0, 0%, 100%);
    --color-text-muted: hsl(0, 0%, 90%);
    --color-background: hsl();
    --color-background-muted: hsl();
    --color-heading: hsl();
    --color-heading-muted: hsl();
    --color-accent: hsl();
    --color-accent-muted: hsl();
    --button1: hsl();
    --button2: hsl();
}
