{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- landing page content starts here -->

<div class="row" id="role">

    <h1 class="mb-5 text-center">Welcome to Dear Santa</h1>
    
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card h-100">
            <div class="card-body d-flex flex-column" id="helper">
                <h2 my-3>Santa's Helper?</h2>
                <p class="card-text flex-grow-1">
                    This is where you can make a wish list for Santa.<br> 
                    Santa and his helpers keep a close eye on everyones' wish lists.<br> 
                    If you have been nice this year, they will try to grant your wishes.
                </p>
                <a href="{% url 'nice_list' %}" id="help_btn" role="button" class="btn button1">Click Here</a>
            </div>
        </div>
    </div>
        
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body d-flex flex-column" id="wisher">
                <h2 my-3>Send a wish to Santa.</h2>
                <p class="card-text flex-grow-1">
                    This is where you can help Santa.<br>
                    If you know someone special who has made a wish to Santa then find them here and help Santa with granting their wishes.<br>
                    If you think someone has been naughty this year, you can also find them here and let Santa know.            
                </p>
                <a href="{% url 'naughty_nice' %}" id="wish_btn" role="button" class="btn button2">Click Here</a>
            </div>
        </div>
    </div>

</div>

<!-- landing page content ends here -->
{% endblock content %}