{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- landing page content starts here -->
<div id="role">
    <h2>Welcome to Dear Santa</h2>
    
    <div id="helper" class="greenbtn">
        <p>
            This is where you can make a wish list for Santa. 
            Santa and his helpers keep a close eye on everyones' wish lists 
            and if you've been nice this year they will try to grant your wishes.
        </p>
        <button id="help_btn" type="button"></button>
    </div>

    <div id="wisher" class="tealbtn">
        <p>
            This is where you can help Santa. If you know someone special who has made a wish 
            to Santa then find them here and help Santa with granting their wishes. 
            If you think someone has been naughty this year, you can also find them here and let Santa know.            
        </p>
        <button id="wish_btn" type="button"></button>

    </div>

</div>
<!-- landing page content starts here -->
{% endblock content %}