:root {
    --color-main: hsl(201, 100%, 14%);
    --color-text: hsl(0, 0%, 100%);
    --color-text-muted: hsl(0, 0%, 90%);
    --color-heading: hsl(176, 69%, 81%);
    --color-heading-muted: hsl(176, 69%, 76%);
    --color-button1: hsl(152, 99%, 31%);
    --color-button1-muted: hsl(152, 99%, 26%);
    --color-button2-muted: hsl(189, 100%, 14%);
    --color-button2-muted: hsl(189, 100%, 9%);
}

main {
    background-color: var(--color-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
}

p {
    color: var(--color-text);
}

.button1 {
    color: var(--color-text);
    background-color: var(--color-button1) !important;
}

.button2 {
    color: var(--color-text);
    background-color: var(--color-button2) !important;
}
